<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        width: 1080px;
        height: 1080px;
      }
    </style>
  </head>
  <body>
    <div class="bg-[#1c9cef] w-[1080px] h-[1080px] relative overflow-hidden">
      <div
        class="border-solid border-[#ffffff] border-[15px] w-[1023px] h-[1001px] absolute left-7 top-[41px]"></div>

      <div class="w-[820px] h-[630px] absolute left-[130px] top-[324px]">
        {{!-- Content --}}
        <div
          class="text-[rgba(245,245,245,0.80)] text-left absolute left-[5px] top-2.5 w-[810px] h-[620px]  max-w-[810px] max-h-[620px] truncate"
          style="font: 700 58px 'Inter', sans-serif">
          {{#if (isEqual source 'url')}}
          <p class="whitespace-normal">{{description}}</p>
          {{/if}} 
          {{#if (isEqual source 'twitter')}}
          <p class="whitespace-pre-line">{{content}}</p>
          {{/if}}
        </div>
      </div>

      <div
        class="absolute right-[130px] left-[130px] bottom-[806px] top-[118px]">
        {{!-- Twitter User Details --}} 
        {{#if (isEqual source 'twitter')}}
        <div
          class="text-[rgba(255,255,255,0.90)] text-left absolute left-[155px] top-[42px]"
          style="font: 400 36px 'Inter', sans-serif">
          {{display_name}}
        </div>
        <div
          class="text-[rgba(255,255,255,0.90)] text-left absolute left-[155px] top-[97px]"
          style="font: 400 24px 'Inter', sans-serif">
          @{{username}}
        </div>
        {{/if}} 

        <!-- Twitter Avatar -->
        {{#if (isEqual source 'twitter')}}
        <img
          class="rounded-[50%] object-center w-[120px] h-[120px] absolute left-0 top-[17px]"
          src="{{avatar}}" />
        {{/if}}
      </div>
        
      <div
        class="absolute right-[130px] left-[130px] top-[170px] max-w-full">
        {{!-- URLr Details --}} 
        {{#if (isEqual source 'url')}}
        <div
          class="text-[rgba(255,255,255,0.90)] text-left"
          style="font: 400 36px 'Inter', sans-serif">
          {{title}}
        </div>
        <div
          class="text-[rgba(255,255,255,0.90)] text-left">
          {{url}}
        </div>
        {{/if}}
      </div>

      <!-- Watermark -->
      <div
        class="text-[rgba(255,255,255,0.90)] text-left absolute right-[456px] bottom-[62px]"
        style="font: 600 12px 'Inter', sans-serif">
        Created with by @spanduck
      </div>
    </div>
  </body>
</html>
