<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        width: 1080px;
        height: 1080px;
      }
    </style>
  </head>
  <body>
    <div
      class="bg-[rgba(79,119,45,0.80)] w-[1080px] h-[1080px] relative overflow-hidden">
      <div
        class="bg-[rgba(79,119,45,0.80)] w-[1806.96px] h-[1087.94px] absolute left-[607.71px] top-[1762px]"
        style="
          transform-origin: 0 0;
          transform: rotate(-135deg) scale(1, 1);
        "></div>

      <div
        class="bg-[rgba(40,39,39,0.20)] border-solid border-[#ffffff] border-[5px] w-[950px] h-[950px] absolute left-[65px] top-[65px] overflow-hidden">
        <div class="w-[820px] h-[630px] absolute left-[65px] top-[231px]">
          {{!-- Content --}}
          <div
            class="text-[rgba(245,245,245,0.80)] text-left absolute left-[5px] top-2.5 w-[810px] h-[620px] max-w-[810px] max-h-[620px] truncate"
            style="font: 700 58px 'Inter', sans-serif">
            {{#if (isEqual source 'url')}}
            <p class="whitespace-normal">{{description}}</p>
            {{/if}} 
            {{#if (isEqual source 'twitter')}}
            <p class="whitespace-pre-line">{{content}}</p>
            {{/if}}
          </div>
        </div>

        <div
          class="absolute right-[65px] left-[65px] top-[70px] max-w-full">
          {{!-- Twitter User Details --}} 
          {{#if (isEqual source 'twitter')}}
          <div
            class="text-[rgba(255,255,255,0.90)] text-left absolute left-[155px] top-[42px]"
            style="font: 400 36px 'Inter', sans-serif">
            {{display_name}}
          </div>
          <div
            class="text-[rgba(255,255,255,0.90)] text-left absolute left-[155px] top-[97px]"
            style="font: 400 24px 'Inter', sans-serif">
            @{{username}}
          </div>
          {{/if}}

          <!-- Twitter Avatar -->
          {{#if (isEqual source 'twitter')}}
          <img
            class="rounded-[50%] object-center w-[120px] h-[120px] absolute left-0 top-[17px]"
            src="{{avatar}}" />
          {{/if}}
        </div>

        <div
          class="absolute right-[65px] left-[65px] top-[70px]">
          {{!-- URL Details --}} 
          {{#if (isEqual source 'url')}}
          <p
            class="text-[rgba(255,255,255,0.90)] text-left"
            style="font: 400 36px 'Inter', sans-serif">
            {{title}}
          </p>
          <p
            class="text-[rgba(255,255,255,0.90)] text-left">
            {{url}}
          </p>
          {{/if}}
        </div>

        <!-- Watermark -->
        <div
          class="text-[rgba(255,255,255,0.90)] text-left absolute right-[391px] bottom-[25px]"
          style="font: 600 12px 'Inter', sans-serif">
          Created with by @spanduck
        </div>
      </div>
    </div>
  </body>
</html>
