<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        width: 1080px;
        height: 1080px;
      }
    </style>
  </head>
  <body>
    <div class="bg-[#5966b0] w-[1080px] h-[1080px] relative overflow-hidden">
      <div
        class="bg-[rgba(245,245,245,0.80)] rounded-[100px] w-[1000px] h-[928px] absolute left-10 top-[76px]"></div>

      <div class="w-[820px] h-[630px] absolute left-[131px] top-[301px]">
        <div
          class="text-[#5966b0] text-center absolute left-[5px] top-2.5 w-[810px] h-[620px] max-w-[810px] max-h-[620px] truncate"
          style="font: 700 58px 'Inter', sans-serif">
          {{!-- Content --}} {{#if (isEqual source 'url')}}
          <p class="whitespace-normal">{{description}}</p>
          {{/if}} {{#if (isEqual source 'twitter')}}
          <p class="whitespace-pre-line">{{content}}</p>
          {{/if}}
        </div>
      </div>

      <div
        class="bg-[#5966b0] rounded-[100px_100px_0px_0px] w-[952px] h-[181px] absolute left-16 top-[89px]"></div>

      {{!-- Twitter User Details --}} {{#if (isEqual source 'twitter')}}
      <div
        class="absolute right-[130px] left-[130px] bottom-[822px] top-[102px]">
        <p
          class="text-[rgba(255,255,255,0.90)] text-left absolute left-[155px] top-[42px]"
          style="font: 400 36px 'Inter', sans-serif">
          {{display_name}}
        </p>

        <p
          class="text-[rgba(255,255,255,0.90)] text-left absolute left-[155px] top-[97px]"
          style="font: 400 24px 'Inter', sans-serif">
          @{{username}}
        </p>

        <img
          class="rounded-[50%] object-center w-[120px] h-[120px] absolute left-0 top-[17px]"
          src="{{avatar}}" />
      </div>

      {{/if}} {{!-- URL User Details --}} {{#if (isEqual source 'url')}}
      <div
        class="absolute right-[130px] left-[130px] top-[120px]">
        <p
          class="text-[rgba(255,255,255,0.90)] text-left"
          style="font: 400 36px 'Inter', sans-serif">
          {{title}}
        </p>

        <p class="text-[rgba(255,255,255,0.90)] text-left">{{url}}</p>
      </div>
      {{/if}}

      <div
        class="text-[rgba(255,255,255,0.90)] text-left absolute right-[456px] bottom-[50px]"
        style="font: 600 12px 'Inter', sans-serif">
        Created with by @spanduck
      </div>
    </div>
  </body>
</html>
