<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        width: 1080px;
        height: 1080px;
      }
    </style>
  </head>
  <body>
    <div class="bg-[#0a0908] w-[1080px] h-[1080px] relative overflow-hidden">
      <div
        class="w-[1179px] h-[1179px] absolute left-[-40px] top-[-40px] overflow-hidden">
        <!-- Background -->
        {{#if (isEqual source 'twitter')}} 
          {{#if images.length}}
            <img
              class="w-[1216px] h-[1521px] absolute left-[-37px] top-[-155px] object-cover object-center opacity-50"
              src="{{images.[0]}}" />
          {{/if}} 
        {{/if}} 
        
        {{#if (isEqual source 'url')}} 
          {{#if image.src}}
            <img
              class="w-[1216px] h-[1521px] absolute left-[-37px] top-[-155px] object-cover object-center opacity-50"
              src="{{images.src}}" />
          {{else}}
            <img
              class="w-[1216px] h-[1521px] absolute left-[-37px] top-[-155px] object-cover object-center opacity-50"
              src="{{image}}" />
          {{/if}} 
        {{/if}} 
        
        <div
          class="bg-[rgba(217,217,217,0.30)] w-[1806.96px] h-[1087.94px] absolute left-[632.71px] top-[1795.29px]"
          style="
            transform-origin: 0 0;
            transform: rotate(-135deg) scale(1, 1);
          "></div>

        <div class="w-[820px] h-[630px] absolute left-[180px] top-[346px]">
          {{!-- Content --}}
          <div
            class="text-[rgba(245,245,245,0.80)] text-center absolute left-[5px] top-2.5 w-[810px] h-[620px] max-w-[810px] max-h-[620px] truncate"
            style="font: 700 58px 'Inter', sans-serif">
            {{#if (isEqual source 'url')}}
              <p class="whitespace-normal">{{description}}</p>
            {{/if}} 
            {{#if (isEqual source 'twitter')}}
              <p class="whitespace-pre-line">{{content}}</p>
            {{/if}}
          </div>
        </div>

        <div
          class="absolute right-[179px] left-[180px] bottom-[883px] top-[140px]">
          {{!-- Twitter User Details --}} 
          {{#if (isEqual source 'twitter')}}
            <p
              class="text-[rgba(255,255,255,0.90)] text-left absolute left-[155px] top-[42px]"
              style="font: 400 36px 'Inter', sans-serif">
              {{display_name}}
            </p>
            <p
              class="text-[rgba(255,255,255,0.90)] text-left absolute left-[155px] top-[97px]"
              style="font: 400 24px 'Inter', sans-serif">
              @{{username}}
            </p>
          {{/if}}

          <!-- Twitter Avatar -->
          {{#if (isEqual source 'twitter')}}
            <img
              class="rounded-[50%] object-center w-[120px] h-[120px] absolute left-0 top-[17px]"
              src="{{avatar}}" />
          {{/if}}
        </div>

        <div
          class="absolute bottom-[883px] left-[170px]  right-[170px]  top-[140px]">
          {{!-- URL Details --}} 
          {{#if (isEqual source 'url')}}
            <div
              class="text-[rgba(255,255,255,0.90)] text-left"
              style="font: 400 36px 'Inter', sans-serif">
              {{title}}
            </div>
            <div
              class="text-[rgba(255,255,255,0.90)] text-left">
              {{url}}
            </div>
          {{/if}}
        </div>

        <!-- Watermark -->
        <div
          class="text-[rgba(255,255,255,0.90)] text-left absolute right-[505px] bottom-[139px]"
          style="font: 600 12px 'Inter', sans-serif">
          Created with by @spanduck
        </div>
      </div>
    </div>
  </body>
</html>
