<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        width: 1080px;
        height: 1080px;
      }
    </style>
  </head>
  <body>
    <div class="bg-[#000000] w-[1080px] h-[1080px] relative overflow-hidden">
      <img
        class="w-[1069px] h-[733px] absolute left-[11px] top-[347px]"
        src="{{images.[0]}}" />

      <div
        class="bg-[rgba(217,217,217,0.80)] w-[1080px] h-[737px] absolute left-0 top-[343px]"></div>

      <div
        class="text-[#0a0908] text-left absolute left-[100px] top-[498px] w-[711px] h-[413px]"
        style="font: 700 64px 'Inter', sans-serif">
        <span>{{content}}</span>
      </div>

      <div class="w-[205px] h-[17px] absolute left-[100px] top-[1025px]">
        <div
          class="text-left absolute left-0 top-0"
          style="font: 400 14px 'Inter', sans-serif">
          <span
            ><span class="created-with----by--spanduck2-span">Created with</span
            ><span class="created-with----by--spanduck2-span2"> ❤️ </span
            ><span class="created-with----by--spanduck2-span3"
              >by @spanduck</span
            ></span
          >
        </div>
      </div>

      <div class="w-[489px] h-[241px] static">
        <div
          class="text-[rgba(255,255,255,0.90)] text-center absolute left-[505px] top-[247px]"
          style="font: 400 36px 'Inter', sans-serif">
          {{display_name}}
        </div>

        <div
          class="text-[rgba(255,255,255,0.90)] text-center absolute left-[786px] top-[197px]"
          style="font: 500 24px 'Inter', sans-serif">
          {{username}}
        </div>

        <img
          class="rounded-[50%] w-[127px] h-[126px] absolute left-[867px] top-[50px]"
          src="{{avatar}}" />
      </div>
    </div>
  </body>
</html>
